<%- include("../partials/header")  %>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">
				YELP CAMP
			</p>
			<div class="list-group">
				<li class="list-group-item active">info</li>
				<li class="list-group-item">info</li>
				<li class="list-group-item">info</li>
			</div>
			<div id="map"></div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail">
				<img class="img-responsive" src="<%= campground.image %>">
				<div class="caption-full">
					<h4 class="pull-right">
						Rs-700/night
					</h4>
					<% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
						<a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-warning">EDIT</a>
						<form style="display:inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
							<button class="btn btn-danger">DELETE</button>
						</form>
					<% } %>
					<h4><a><%= campground.name %></a></h4>
					<p class="description">
						<%= campground.description %>
					</p>
					<h1>
						<em>This campground was created by <b><%= campground.author.username %> </b></em>
					</h1>
				</div>
			</div>
			<div class="well">
				<div class="text-right">
					<a class="btn btn-success" href="/campgrounds/<%=campground._id%>/comments/new">Add a new comment</a>
				</div>
				<hr>
				<% campground.comments.forEach(function(i)					   
						{%>
						<div class="row">
							<div class="col-md-12">
								<strong><%= i.author.username %></strong>
								<span class="pull-right">10 Days Ago</span>
								<p><%= i.text %></p>	
								<% if(currentUser && i.author.id.equals(currentUser._id)) { %>
								<a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/comments/<%= i._id %>/edit">Edit</a>
								<form style="display:inline" action="/campgrounds/<%= campground._id %>/comments/<%= i._id %>?_method=DELETE" method="POST">
									<button class="btn btn-xs btn-danger">
										DELETE
									</button>
								</form>
								<% } %>
							</div>	
						</div>
						<%})%>
			</div>
		</div>
	</div>
</div>

<script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsuThdyvbrmpyRwZZgyOpFjRPEvr66g5g&callback=initMap"></script>

<%- include("../partials/footer")  %>